:root {
    --color-primary: #F6C6C5;
    --color-primary-dark: #DD9997;

    --color-secondary: #702929;
    --color-background: #FFFFFF;
    
    --color-text: #702929;
    --color-text-light: #CE7B7B;
    --color-text-white: #FFFFFF;
}